[submodule "roles/common/files/dotfiles"]
	path = roles/common/files/dotfiles
	url = https://github.com/Maroka-chan/dotfiles.git
[submodule "files/dotfiles"]
	path = files/dotfiles
	url = git@github.com:Maroka-chan/dotfiles.git
