<?xml version="1.0" encoding="UTF-8"?>
<actions>
<action>
        <icon>utilities-terminal</icon>
        <name>Open Terminal Here</name>
        <unique-id>1618717253930639-1</unique-id>
        <command>{{ terminal }} %f</command>
        <description>Example for a custom action</description>
        <patterns>*</patterns>
        <startup-notify/>
        <directories/>
</action>
<action>
        <icon></icon>
        <name>Search</name>
        <unique-id>1634089728454483-1</unique-id>
        <command>catfish --path=%f</command>
        <description></description>
        <patterns>*</patterns>
        <directories/>
</action>
<action>
        <icon></icon>
        <name>Set as Wallpaper</name>
        <unique-id>1634513824581155-1</unique-id>
        <command>feh --bg-fill %f</command>
        <description></description>
        <patterns>*</patterns>
        <image-files/>
</action>
</actions>
